<!DOCTYPE html>
<html ng-app="userApp">
<head>
  <meta charset="utf-8">
  <title>Connection</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css"  media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="js/jquery-2.2.2.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="controllers/profileController.js"></script>
</head>
<body id="home" ng-controller="userCtrl">
  <!-- Navigation Bar -->
  <nav class="navbar navbar-inverse" style="box-shadow: 0px 1px 5px #222222;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#home">Connection</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#appNavBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="appNavBar">
        <ul class="nav navbar-nav">
          <li class="active" data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#myAcount"><span class="glyphicon glyphicon-user"></span>  My Account</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <!--<select class="form-control" id="skill-options">
          <option>Programming Language</option>
          <option>Software Tools</option>
        </select> -->
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search.." ng-model="userSearch">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="row">
    <!-- Lef side Area -->
    <div class="col-sm-3 well">
      <div class="well">
        <p><a href="#">Profile</a></p>
        <img src="images/default_profile.jpg" class="img-circle" height="100" width="100" alt="Avatar" />
      </div>
      <div><a href="createProfile.htm" class="btn btn-primary">Edit Profile</a> </div>
      <div class="text-center">
        <a href="#" ng-click="edit(expert._id)" data-toggle="modal" data-target="#myModal">Edit Profile</a>
        {{expert.name}}
      </div>
      <div class="well">
        <p><a href="#">Skills</a></p>
      </div>
    </div>
    <!-- Center Area -->
    <div class="row">
      <div class="col-sm-7">
        <div class="well">
          <div class="list-group">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Skills</th>
                    <th>Experience</th>
                    <th>Current Project</th>
                    <th>Profile</th>
                    <th>Role</th>
                  </tr>
                </thead>
                <tbody ng-repeat="expert in experts | filter:userSearch">
                  <tr class="table-condensed text-left">
                    <td>{{expert.name}}</td>
                    <td>{{expert.skills}}</td>
                    <td>{{expert.experience}}</td>
                    <td>{{expert.currentproject}}</td>
                    <td>{{expert.profile}}</td>
                    <td>{{expert.role}}</td>
                    <div class="text-center">
                      <a href="#" ng-click="edit(expert._id)" data-toggle="modal" data-target="#myModal">Edit Profile</a>
                    </div>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <!-- Update Model -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Profile</h4>
        </div>
        <form class="form-update" action="expert.htm">
          <div class="modal-body">
            <label>Full Name :</label>
            <input type="text" class="form-control" name="name" placeholder="Name"  ng-model="expert.name" required autofocus>
            <label>Skills :</label>
            <input type="text" class="form-control" ng-model="expert.skills">
            <label>Experience :</label>
            <input type="text" class="form-control" ng-model="expert.experience">
            <label>Current Project :</label>
            <input type="text" class="form-control" ng-model="expert.currentproject">
            <label>Profile :</label>
            <input type="text" class="form-control" ng-model="expert.profile">
            <label>Role :</label>
            <input type="text" class="form-control" ng-model="expert.role">

          </div>
          <div class="modal-footer">
            <button class="btn btn-default btn-primary" type="submit" ng-click="updateProfile()">Submit </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Modal -->
</body>
</html>
